@charset "UTF-8";
html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.max_box{
    margin: 0;
    padding: 0;
    background: url("../img/back.webp") no-repeat fixed center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.section_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;

}
.section_box_title{
    font-size: 130px;
    font-family: 黑体;
    font-weight: 500;
    color: #FFFFFF;
    /* line-height: 56px; */
    letter-spacing: 18.2px;
    margin-bottom: 10px;
}
.defualt_button{

    border: none;
    border-radius: 200px;
    outline: none;
    color: white;
    padding: 58px 320px;
    transition: all 1s linear;
}
.defualt_button1{
    outline: none;
    margin-top: 113px;
    background: #02BED9;
    box-shadow: 0px 5px 16px 0px rgba(1, 165, 189, 0.75);
    padding: 58px 341px;
    opacity: 0;
    margin-left: 500px;
    transition: all 1s linear;
}
.defualt_button2{
    outline: none;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #fcfcfc;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
    margin-top: 135px;
    opacity: 0;
    margin-right: 500px;
    transition: all 1s linear;
}

.defualt_button:focus,
.defualt_button:active:focus,
.defualt_button.active:focus,
.defualt_button.focus,
.defualt_button:active.focus,
.defualt_button.active.focus {
    outline: none;
    border-color: transparent; // 若是本身具有 border 请删除此属性
box-shadow:none;
}

.go_button{
    margin-top: 100px;
}
.go_button:hover{
    backdrop-filter: blur();
}
